# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/untether/staging
untether/lyncis.tar.b64
untether/lyncis.tar
untether/lyncis
untether/com.staturnz.lyncis.untether_1.0.0_iphoneos-arm.deb
output/installer
output/loader.b64
output/installer.b64
output/loader.bin
output/lyncis.tar
output/lyncis.tar.b64
installer/installer.b64
installer/installer
loader/loader.b64
loader/loader.bin
.DS_Store
.vscode/settings.json
